@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  /* color */
  --title-color: #112E4A;
  --title-color-dark: #000000;
  --subtitle-color:#007F99;
  --background-green:#5CD38C;
  --background-blue:#007F99;
  --background-white: #FFFFFF;
  --text-color:#000000;
  --body-color:#FCFFF7;
  --gradient-bg-section: linear-gradient(360deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
  --gradient-bg-section-2:linear-gradient(360deg, #2F80ED 0%, #56CCF2 100%);
  /* --container-color: ; */
  

  /* font and typo */

  --body-font:"poppins", sans-serif;

  /* .5rem = 8px | 1rem = 16px */

  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size:1.5rem;
  --h3-font-size:1.25rem;
  --normal-font-size: 1rem;
  --small-font-size:0.875rem;
  --smaller-font-size:0.813rem;
  --tiny-font-size:0.625rem;

  /* font weight */

  --font-normal:400;
  --font-medium:500;
  --font-semi-bold:600;

  /* margin bottom */

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */

  --z-modal: 1000;
}

/* base */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body,button,
input,textarea{
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
}

h1,h2,h3{
  color:var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border:none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* Reusable css classes */

.section{
  padding: 5.125rem 0 2rem;
}

.section__title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle{
  display: block;
  font-size: var(--small-font-size);
  margin: 2rem;
}

.section__subtitle,
.section__title{
  text-align: start;
}

.container{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.grid{
  display: grid;
  gap: 1.5rem;
}

.button{
  display: inline-block;
  background-color: #007F99;
  color: var();
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-normal);
}

.button__icon{
  margin-left: var(--mb-0-5);
}

.button--flex{
  display: inline-block;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button{
    padding: 1rem 1.75rem;
  }

  .button__icon{
    width: 22px;
    height: 22px;
  }
}


@media screen and (max-width: 768px) {
  body{
    margin: 0 0 var(--header-);
  }
}


@media screen and (max-width: 576px) {
  
}


@media screen and (max-width: 350px) {
  
}