*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --color-style-1:#112E4A;
  --color-style-2:#007F99;
  --color-style-3:#C6E386;
  --color-style-4:#E4F5BC;
  --color-style-5:#5CD38C;
  --color-style-6:#ACD8A4;
  --color-style-7:#C3E7BC;
  --color-style-8:#FFCE36;
  --color-style-9:#FFDE79;
  --color-style-10:#FFE9A7;
  --color-style-11:#FFF2CC;
  --color-style-12:#EE4035;

  

}


html, body, #root{
  width: 100%;
  height: 100%;
}